.mega-menu {
    background-color: #333;
    padding: 10px;
  }
  
  .mega-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .mega-menu li {
    margin: 0 20px;
  }
  
  .mega-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  